@import 'tailwindcss';

@theme {
   --color-purple-200: #d9ddee;
   --color-purple-500: #dee8fe;
   --color-purple-600: #575fe4;
   --color-gray-200: #e6e9ed;
   --color-gray-100: #eeeeef;
   --color-gray-600: #95989c;
   --default-font-family: var(--font-Inter);
}

@utility no-scrollbar {
   @apply [scrollbar-width:none] [&::-webkit-scrollbar]:hidden;
}
